@import url('reset.css');

/* == Paleta == */
/*
@green: hsla(97, 52%, 54%, 1)
@red: hsla(0, 72%, 49%, 1)
@dark: hsla(216, 18%, 16%, 1)
@light: hsla(217, 10%, 25%, 1)
@white: hsla(0, 0%, 93%, 1)

*/


html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

*,*:after,*:before {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

.windowcontainer {
  width: 1200px;
  height: 700px;
}

.titlebar {
  background-color: hsla(216, 18%, 16%, 1);
  color: hsla(0, 0%, 93%, 1);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 26px;
  font-size: 16px;
  overflow: auto;
  position: relative;
  -webkit-app-region: no-drag;
}

.titlebar__title {
  padding: 7px 10px;
  font-size: 0.8em;
  width: 1100px;
  flex: 1;
  -webkit-app-region: drag;
}

.titlebar__controls {
  -webkit-app-region: no-drag;
  display: flex;
}

.titlebar__controls--minimize, .titlebar__controls--close{
  padding: 5px 10px;
  font-weight: 700;
  display: inline-block;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.titlebar__controls--minimize:hover {
  background-color: hsla(0, 0%, 93%, 0.8);
}

.titlebar__controls--close:hover {
  background-color: hsla(0, 72%, 49%, 1);
}
