* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("img/background.png");
  overflow: hidden;
}
/*==================================== LOGIN =================================*/
#loginDiv{
  width: 100vw;
  height: 100vh;
  position: absolute;
}
#loginDiv.begone{
  transform: translate(-100%, 0);
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}
#loginForm {
  text-align: center;
  width: 320px;
  height: 208px;
  padding: 10px;
  border: 2px solid lightblue;
  box-shadow: 2px 2px 10px;
  background-color: #f5f5f5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#loginForm input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #bbb;
}
#loginForm  *:last-child {
  margin-bottom: 0px;
}
#loginForm > div {
  position: absolute;
  width: calc(100% - 20px);
}

#loginForm input[type=submit], #loginForm input[type=button]{
  padding: 8px;
  margin-right: 8px;
}
input:focus {
  outline: none;
}

#loginModeDiv {
  position: absolute;
  bottom: 10px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
#loginModeDiv.hidden {
  bottom: -100px;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.btnGroup > *:last-child {
  margin-right: 0px !important;
}

/*=================================== CONTENT ================================*/
#content {
  position: absolute;
  width: 1000px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
  border: 2px solid lightblue;
  background-color: #f5f5f5;
}
#content.begone {
  left: calc(100vw + 500px);
  transition-duration: 0s;
}

#lobbiesDiv {
  position: absolute;
  height: 450px;
  width: 800px;
  border-right: 2px solid lightblue;
  overflow: auto;
}
#usersDiv {
  position: absolute;
  height: 450px;
  width: 196px; /* -4 cuz of parrent 2px wide border */
  right: 0;
  overflow: auto;
}

#users, #lobbies, #globalChat {
  list-style-type: none;
}

#users > *, #lobbies > *, #globalChat > * {
  padding: 8px;
}

#globalChatDiv {
  position: absolute;
  height: 248px;
  width: 100%;
  border-top: 2px solid lightblue;
  bottom: 0;
  overflow: auto;
}

#globalChat {
  height: calc(100% - 55px);
  border-bottom: 2px solid lightblue;
  overflow: auto;
}
#globalChat > li:nth-child(even){
  background-color: #ddd;
}

#globalChatForm {
  padding: 10px;
}
#globalChatForm > * {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #bbb;
}
#gMessage {
  width: 872px;
}
#globalChatForm > input[type=submit] {
  width: 100px;
}

#globalChatHelper {
  text-align: center;
  background-color: rgba(155, 155, 155, 0.5);
  position: fixed;
  bottom: 57px;
  width: 100%;
  cursor: pointer;
}

/* ================================ Lobbies ================================= */
#lobbyNav {
  text-align: center;
  padding: 3px;
  border-bottom: 2px solid lightblue
}
#lobbyNav * {
  padding: 3px;
}
